---
title: Cousin Paul
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  artists:
    title: Artists
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    layout: page
- scope:
    path: 'blog'
    type: posts
  values:
    layout: post
- scope:
    path: 'artist'
    type: artists
  values:
    layout: artist
permalink: pretty
