---
title: Cousin Paul
timezone: America/Chicago
collections:
  artists:
    title: Artists
    output: true
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    layout: page
- scope:
    path: blog
    type: posts
  values:
    layout: post
- scope:
    path: ''
    type: artists
  values:
    layout: artist
permalink: pretty
