.artist-photo-wrapper {
    width: 329px;
    height: 148px;
    margin: 0 auto;
    background: url('/asset/img/divider/divider-artist.svg');
    background-repeat: no-repeat;
    background-position: center center;

    img {
        border: 2px solid #005e9f;
    }
}
