.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-pattern {
    background-image: url('/asset/img/bg/bg-pattern.png');
}

.bg-footer {
    background-image: url('/asset/img/bg/bg-footer.jpg');
}
