.footer {
    color: #aaa;
    margin: 0;
    padding: 0;
    background-image: url('/asset/img/bg/bg-footer.jpg');
    background-size: cover;
    background-position: center center;
    border-top: none;
    text-align: center;
}

.footer a {
    border-bottom: none !important;
    color: #fff;

    &:visited {
        color: #fff;
    }
}

.footer-icn {
    height: 36px;
    width: auto;
    margin: 4px;
}
