.header-height {
    @media only screen and (max-width: 767px) {
        min-height: 200px;
    }
    @media only screen and (min-width: 768px) {
        height: 300px;

        // @todo can we strip out?
        background-color: #22374a;
        position: relative;
        z-index: 2;
    }
}

.header-height-video {
    height: 420px;

    .header-logo {
        top: 318px;
        img {
            width: 364px;
        }
    }
}

.header-contact {

    background: linear-gradient(to bottom, rgba(18,32,43,0.65) 0%, rgba(0,0,0,0) 100%);
    color: #fff;
    font-size: 16px;
    left: 0;
    position: absolute;
    text-shadow: 0 1px 3px #000;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 3;

    a {
        cursor: pointer;
        display: inline-block;
        padding: 12px 4px;
    }

    a,
    a:visited,
    a:focus,
    a:active {
        border-bottom: none;
        color: #fff;
    }

    a:hover,
    a:focus,
    a:active,
    a:visited:hover {
        color: #ccc;
    }
}

.header-video {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    video {
        width: 333.33vh;
        height: 100%;
        min-width: 100%;
        min-height: 30vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header-logo {
    left: 0;
    position: absolute;
    top: 200px;
    width: 364px;
    margin: 0 auto;
    left: 50%;
    margin-left: -182px;
    img {
        width: 364px;
    }
    a {
        text-decoration: none;
        border-bottom: none;
    }
}
