.navbar {
    overflow: hidden;
}

.navbar-logo {
    // height: 80px;
    // margin-top: -20px;
    // margin-bottom: -20px;
    height: 60px;
}

// .navbar-default.container-fluid {
//     height: 60px;
//     margin-top: 0;
//     z-index: 1;
// }

// // Links
// .navbar-default .navbar-nav {
//     width: 100%;
//     text-align: center;
//     li {
//         display: inline-block;
//         float: none;
//         a {
//             border-bottom: none;
//             line-height: 58px;
//             text-transform: uppercase;
//         }
//     }
// }

// @media only screen and (max-width: 767px) {

//     .navbar {
//         position: absolute;
//         z-index: 3;
//         top: 0;
//         left: 0;
//         width: 100vw;
//     }

//     .navbar-default .navbar-nav {
//         text-align: right;
//         li {
//             display: block;
//             float: none;
//             a {
//                 border-bottom: none;
//                 line-height: 1.3;
//                 text-transform: uppercase;
//             }
//         }
//     }
// }
