// Small nav
@media only screen and (max-width: 767px) {
    .navbar {
        overflow: hidden;
    }

    .navbar-logo {
        // height: 80px;
        // margin-top: -20px;
        // margin-bottom: -20px;
        height: 60px;
    }

    .navbar-toggler {
        padding: 0.75rem 0.75rem;
    }
}

// Medium+ nav
@media only screen and (min-width: 768px) {
    nav {
        height: 60px;
        margin-top: 0;
        z-index: 1;

        a {
            line-height: 58px;
            text-transform: uppercase;
        }

        a,
        a:visited,
        a:focus,
        a:active {
            color: #fff;
        }

        a:hover,
        a:focus,
        a:active,
        a:visited:hover {
            color: #ccc;
        }

    }
}
