.splash {

    background-color: #22374a;
    background-image: url('/asset/img/full-width/splash-darker.jpg');
    background-size: cover;
    color: #fff;
    font-size: 18px;
    height: 300px;
    position: relative;
    z-index: 2;

    .splash-contact {
        background: linear-gradient(to bottom, rgba(18,32,43,0.65) 0%, rgba(18,32,43,0.45) 60%, rgba(0,0,0,0) 100%);
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        text-shadow: 0 1px 3px #000;

        a {
            cursor: pointer;
            display: inline-block;
            padding: 12px 4px;
        }

        a,
        a:visited,
        a:focus,
        a:active {
            border-bottom: none;
            color: #fff;
        }

        a:hover,
        a:focus,
        a:active,
        a:visited:hover {
            color: #ccc;
        }
    }

    .splash-video {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        video {
            width: 333.33vh;
            height: 100%;
            min-width: 100%;
            min-height: 30vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .splash-logo {
        left: 0;
        position: absolute;
        top: 200px;
        width: 100%;
        img {
            width: 364px;
        }
        a {
            text-decoration: none;
            border-bottom: none;
        }
    }

    &.splash-video-height {
        height: 420px;

        .splash-logo {
            top: 318px;
            img {
                width: 364px;
                max-width: 100%;
            }
        }
    }

}
