$font-header: 'Raleway', sans-serif;
$font-body: 'Raleway', sans-serif;

body {
    font-weight: 300;
    font-family: $font-body;
}

* {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-header, sans-serif;
    font-size: 46px;
    font-weight: 200;
    line-height: 46px;
}

h1,
h1 a,
h1 a:visited,
h1 a:active {
    text-decoration: none;
    color: #005e9f;
}

h2 {
    font-family: $font-header, sans-serif;
    font-size: 30px;
}

h3 {
    color: #838384;
    font-family: $font-header, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 8px 0;
}

h4 {
    color: #005e9f;
    font-family: $font-header, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 8px 0;
}

a {
    color: #7d0000;
    text-decoration: none !important;
    transition: color 200ms ease;
}

p a {
    border-bottom: 1px solid #7d0000;
}

strong {
    font-weight: 700;
}

a:visited {
    color: #7d0000;
}

a:hover,
a:focus,
a:active,
a:visited:hover {
    color: #c36178;
    outline: 0;
    transition: color 200ms ease;
}

.upper {
    text-transform: uppercase;
}

.type-light {
    color: #aaa;
}

.type-light a {
    border-bottom: none !important;
    color: #fff;

    &:visited {
        color: #fff;
    }
}
