$white: #fff;
$gray-light: #9cabb5;
$primary: #005e9f;

$font-size-sm: .75rem;
$font-size-xs: .70rem;

$headings-margin-bottom: 0px;

$border-radius: 0;
$border-radius-sm: 0;

$navbar-light-color: $white;
$navbar-light-toggler-border: transparent;
