---
layout: default
---

<div class="container mt-4 mt-md-8">

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="text-center">{{page.title}}</h1>
            <div class="mt-4">
                {{content}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-4">
            <img class="img-fluid" src="/asset/img/about/contact-us.jpg" />
        </div>
        <div class="col-12 col-sm-4">
            <img class="img-fluid" src="/asset/img/about/map-and-directions.jpg" />
        </div>
        <div class="col-12 col-sm-4">
            <img class="img-fluid" src="/asset/img/about/our-artists.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12474.394105907522!2d-90.2940924!3d38.5890921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x45349415fc97ff65!2sCousin+Paul&#39;s+Tattoo+Co.!5e0!3m2!1sen!2sus!4v1479721045298" width="100%" height="450" frameborder="0" style="border:0; border-radius: 3px;" allowfullscreen></iframe>
        </div>
    </div>

</div>
