<div class="bg-pattern-circle">
    <div class="container pt-5 pt-sm-35">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-4 text-left text-md-center">
                <h1>Artists</h1>
                <h3>Meet Our Team</h3>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            {% assign artists = site.artists | sort: 'order' %}
            {% for artist in artists %}
                <div class="row mt-5 mb-5">
                    <div class="col-12 col-sm-4">
                        <h2>{{artist.title}}</h2>
                        <h3>{{artist.artist_title}}</h3>
                        {% if artist.artist_image %}
                            <img class="img-fluid" src="{{artist.artist_image}}">
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-8">
                        {{artist.content}}
                        <div class="row">
                            <div class="col-12 col-sm-6 mt-4">
                                <a class="btn btn-primary btn-block" href="{{artist.url}}">Contact</a>
                            </div>
                            <div class="col-12 col-sm-6 mt-4">
                                <a class="btn btn-default btn-block" href="{{artist.url}}">Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
