---
layout: default
---

<div class="bg-pattern-circle">
    <div class="container pt-5 pt-sm-35">

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-4 text-left text-md-center">
                <h1>Artists</h1>
                <h3>Meet our team</h3>
            </div>
        </div>

    </div>
</div>

<div class="container mt-4">

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            {{content}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            {% for artist in site.artists %}
                <div class="row mb-5">
                    <div class="col-12 col-sm-4">
                        <h2>{{artist.title}}</h2>
                        <h3>{{artist['Artist Title']}}</h3>
                    </div>
                    <div class="col-12 col-sm-8 mb-5">
                        {{artist.content}}
                        <div class="row">
                            <div class="col-12 col-sm-6 mt-4">
                                <a class="btn btn-primary btn-block" href="{{artist.url}}">Contact</a>
                            </div>
                            <div class="col-12 col-sm-6 mt-4">
                                <a class="btn btn-default btn-block" href="{{artist.url}}">Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
